In [1]:
import pandas as pd
from selenium import webdriver

import time
from tqdm import tqdm
import regex as re
import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By   # para buscar segun tag, id, class, etc...

from selenium.webdriver.support.ui import WebDriverWait   # es para esperar

from selenium.webdriver.support import expected_conditions as EC  # condiciones esperadas...

from selenium.webdriver import ActionChains as AC   # acciones encadenadas, rollo doble click

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

PATH=ChromeDriverManager().install()

[WDM] - Downloading: 100%|█████████████████████████████████████████████████████████| 6.58M/6.58M [00:08<00:00, 826kB/s]

In [ ]:
datos = pd.read_clipboard()

In [20]:
rank = [e for e in datos['1']]
rank.append(1)

In [39]:
pais = [e for e in datos.Suiza]
pais.append('Suiza')

In [29]:
coste = [e for e in datos['121,16']]
coste.append('121,16')

In [30]:
alqui = [e for e in datos['50,25']]
alqui.append('50,25')

In [31]:
vidaal= [e for e in datos['87,11']]
vidaal.append('87,11')

In [32]:
comes = [e for e in datos['120,81']]
comes.append('120,81')

In [33]:
rest = [e for e in datos['123,09']]
rest.append('123,09')

In [34]:
poder = [e for e in datos['129,70']]
poder.append('129,70')

In [35]:
data = pd.DataFrame(columns = ['puesto', 'pais', 'coste', 'alquiler', 'vida+alquiler', 'comestibles',
                                             'restaurantes', 'poder'])

In [41]:
data['puesto']= rank
data['pais']= pais
data['coste']= coste
data['alquiler']= alqui
data['vida+alquiler']= vidaal
data['comestibles']= comes
data['restaurantes']= rest
data['poder']= poder

In [47]:
data.drop([13, 16,26, 32, 37, 38, 39], axis= 0, inplace = True)

In [50]:
data.puesto.replace({2: 26,  3: 30,  4: 28,  6: 10,  7: 8,  8: 15,  9:20, 10: 24, 11: 2,
                     12: 18, 13: 11, 14: 19, 16: 29, 17: 9, 19: 6, 20: 7, 21: 16, 
                     22: 27, 23:22, 24: 12, 25: 17, 26: 23, 27: 25, 29: 31, 30: 4, 
                     31: 32, 32: 1, 33: 21, 35: 33, 36: 3, 37: 14, 38: 13}, inplace = True)

In [55]:
data.rename(columns={'puesto': 'ciudades_id'}, inplace=True)

In [58]:
data= data.sort_values(by= 'ciudades_id')

In [73]:
lista= []
for e in data.coste:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['coste']=lista

In [76]:
lista= []
for e in data.alquiler:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['alquiler']=lista

In [77]:
lista= []
for e in data['vida+alquiler']:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['vida+alquiler']=lista

In [78]:
lista= []
for e in data.comestibles:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['comestibles']=lista

In [79]:
lista= []
for e in data.restaurantes:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['restaurantes']=lista

In [80]:
data.drop(['poder'], axis= 1, inplace = True)

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 30 to 33
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ciudades_id    33 non-null     int64
 1   pais           33 non-null     object
 2   coste          33 non-null     float64
 3   alquiler       33 non-null     float64
 4   vida+alquiler  33 non-null     float64
 5   comestibles    33 non-null     float64
 6   restaurantes   33 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 2.1+ KB

In [84]:
data.to_excel('coste.xlsx', index= False)

In [2]:
data = pd.read_excel('coste.xlsx')

In [6]:
data.to_excel('coste.xlsx', index= False)