In [7]:
import pandas as pd
from selenium import webdriver

import time
from tqdm import tqdm
import regex as re
import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By   # para buscar segun tag, id, class, etc...

from selenium.webdriver.support.ui import WebDriverWait   # es para esperar

from selenium.webdriver.support import expected_conditions as EC  # condiciones esperadas...

from selenium.webdriver import ActionChains as AC   # acciones encadenadas, rollo doble click

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

PATH=ChromeDriverManager().install()

In [ ]:
datos = pd.read_clipboard()

In [20]:
rank = [e for e in datos['1']]
rank.append(1)

In [39]:
pais = [e for e in datos.Suiza]
pais.append('Suiza')

In [29]:
coste = [e for e in datos['121,16']]
coste.append('121,16')

In [30]:
alqui = [e for e in datos['50,25']]
alqui.append('50,25')

In [31]:
vidaal= [e for e in datos['87,11']]
vidaal.append('87,11')

In [32]:
comes = [e for e in datos['120,81']]
comes.append('120,81')

In [33]:
rest = [e for e in datos['123,09']]
rest.append('123,09')

In [34]:
poder = [e for e in datos['129,70']]
poder.append('129,70')

In [35]:
data = pd.DataFrame(columns = ['puesto', 'pais', 'coste', 'alquiler', 'vida+alquiler', 'comestibles',
                                             'restaurantes', 'poder'])

In [41]:
data['puesto']= rank
data['pais']= pais
data['coste']= coste
data['alquiler']= alqui
data['vida+alquiler']= vidaal
data['comestibles']= comes
data['restaurantes']= rest
data['poder']= poder

In [47]:
data.drop([13, 16,26, 32, 37, 38, 39], axis= 0, inplace = True)

In [50]:
data.puesto.replace({2: 26,  3: 30,  4: 28,  6: 10,  7: 8,  8: 15,  9:20, 10: 24, 11: 2,
                     12: 18, 13: 11, 14: 19, 16: 29, 17: 9, 19: 6, 20: 7, 21: 16, 
                     22: 27, 23:22, 24: 12, 25: 17, 26: 23, 27: 25, 29: 31, 30: 4, 
                     31: 32, 32: 1, 33: 21, 35: 33, 36: 3, 37: 14, 38: 13}, inplace = True)

In [55]:
data.rename(columns={'puesto': 'ciudades_id'}, inplace=True)

In [58]:
data= data.sort_values(by= 'ciudades_id')

In [73]:
lista= []
for e in data.coste:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['coste']=lista

In [76]:
lista= []
for e in data.alquiler:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['alquiler']=lista

In [77]:
lista= []
for e in data['vida+alquiler']:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['vida+alquiler']=lista

In [78]:
lista= []
for e in data.comestibles:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['comestibles']=lista

In [79]:
lista= []
for e in data.restaurantes:
    e = e.replace(',' , '.')
    lista.append(float(e))
data['restaurantes']=lista

In [80]:
data.drop(['poder'], axis= 1, inplace = True)

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 30 to 33
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ciudades_id    33 non-null     int64
 1   pais           33 non-null     object
 2   coste          33 non-null     float64
 3   alquiler       33 non-null     float64
 4   vida+alquiler  33 non-null     float64
 5   comestibles    33 non-null     float64
 6   restaurantes   33 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 2.1+ KB

In [84]:
data.to_excel('coste.xlsx', index= False)

In [8]:
data = pd.read_excel('coste.xlsx')

In [10]:
data['calculo_viaje']= [e*6 for e in data.coste]

In [11]:
data

,ciudades_id,pais,coste,alquiler,vida+alquiler,comestibles,restaurantes,calculo_viaje
0,1,Albania,36.17,8.21,22.74,28.59,29.34,217.02
1,2,Austria,71.79,27.63,50.58,65.63,70.08,430.74
2,3,Bielorrusia,33.12,9.96,22.00,27.77,35.98,198.72
3,4,Bulgaria,37.17,9.15,23.72,31.15,29.86,223.02
4,5,Dinamarca,81.38,32.91,58.11,63.62,95.14,488.28
5,6,Eslovenia,52.51,15.36,34.67,43.27,43.83,315.06
6,7,Estonia,51.01,15.38,33.90,37.06,51.24,306.06
7,8,Francia,74.85,26.25,51.51,68.31,75.37,449.10
8,9,Grecia,56.66,10.80,34.64,43.69,54.76,339.96
9,10,Irlanda,75.35,41.80,59.24,59.10,82.65,452.10
10,11,Italia,69.25,21.68,46.40,58.34,75.72,415.50
11,12,Lituania,45.91,12.90,30.06,35.36,43.95,275.46
12,13,Macedonia del Norte,31.58,6.47,19.52,24.85,23.67,189.48
13,14,Moldavia,32.26,7.97,20.60,24.97,27.71,193.56
14,15,Países Bajos,74.83,34.74,55.58,58.80,83.49,448.98
15,16,Portugal,50.39,21.07,36.31,40.20,43.13,302.34
16,17,República Checa,45.12,18.27,32.23,38.08,33.25,270.72
17,18,Suecia,71.55,26.05,49.70,63.45,75.04,429.30
18,19,Alemania,67.62,26.85,48.04,54.27,63.56,405.72
19,20,Bélgica,72.97,25.81,50.32,60.86,83.40,437.82
20,21,Bosnia y Herzegovina,35.72,6.32,21.60,28.81,23.78,214.32
21,22,Croacia,49.18,11.60,31.13,40.33,40.36,295.08
22,23,Eslovaquia,44.98,16.13,31.13,38.50,33.64,269.88
23,24,Finlandia,72.82,26.14,50.40,60.02,77.91,436.92
24,25,Hungría,42.03,13.64,28.40,32.36,33.43,252.18
25,26,Islandia,101.86,48.28,76.13,92.10,111.85,611.16
26,27,Letonia,49.23,12.02,31.36,36.65,45.47,295.38
27,28,Luxemburgo,86.09,55.64,71.47,75.10,96.08,516.54
28,29,Malta,63.32,28.68,46.69,51.23,67.28,379.92
29,30,Noruega,100.99,37.28,70.40,92.67,111.53,605.94
30,31,Polonia,39.13,14.92,27.50,30.66,32.72,234.78
31,32,Rumania,36.45,10.00,23.75,29.88,32.26,218.70
32,33,Serbia,35.39,8.08,22.27,26.30,27.84,212.34

In [12]:
data.to_excel('coste.xlsx', index= False)