In [1]:
import pandas as pd
from selenium import webdriver

import time
from tqdm import tqdm
import regex as re
import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By   # para buscar segun tag, id, class, etc...

from selenium.webdriver.support.ui import WebDriverWait   # es para esperar

from selenium.webdriver.support import expected_conditions as EC  # condiciones esperadas...

from selenium.webdriver import ActionChains as AC   # acciones encadenadas, rollo doble click

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

PATH=ChromeDriverManager().install()

In [2]:
data= pd.read_excel('temperaturas.xlsx')

In [2]:
url = 'https://www.tripadvisor.com/CheapFlightsSearchResults-g294446-a_airport0.MAD-a_airport1.TIA-a_cos.0-a_date0.20221228-a_date1.20230102-a_formImp.f9a307c3__2D__31bb__2D__4f3b__2D__b7c5__2D__0037886bde16__2E__18990-a_nearby0.no-a_nearby1.no-a_nonstop.no-a_pax0.a-a_travelers.1-Tirana_Tirana_County.html'

In [6]:
driver=webdriver.Chrome(PATH)
driver.get(url)
time.sleep(2)
aceptar = driver.find_element(By.XPATH, '//*[@id="onetrust-accept-btn-handler"]')
aceptar.click()
sort= driver.find_element(By.XPATH, '//*[@id="MAIN"]/div/div[1]/div/div/div/div[1]/div/div[1]/div[1]/span/span/span[2]')
sort.click()
price = driver.find_element(By.XPATH,'//*[@id="BODY_BLOCK_JQUERY_REFLOW"]/div[14]/div/div/div/ul/li[1]/div/div/span[2]')
time.sleep(1)
price.click()
time.sleep(2)
driver.execute_script('window.scrollTo(0, 200);')
uno= driver.find_elements(By.CLASS_NAME,'JcwmL')[0]
dos = uno.find_element(By.CLASS_NAME, 'OBuNK')
precio= []
precio.append(dos.text)


lista= ['Viena', 'Minsk', 'Sofia', 'Copenhague', 'Ljubljana', 'Tallin', 'Paris',
       'Atenas', 'Dublin', 'Rome', 'Vilna', 'Skopje', 'Chisinau', 'Amsterdam',
       'Lisboa', 'Praga', 'Estocolmo', 'Berlin', 'Bruselas', 'Sarajevo',
       'Zagreb', 'Bratislava', 'Helsinki', 'Budapest', 'Reykjavik', 'Rig',
       'Luxemburgo', 'valet', 'Oslo', 'Varsovia', 'Bucarest', 'Belgrado']
for e in tqdm(lista):
    
    city = driver.find_element(By.XPATH,'//*[@id="component_1"]/div/div[1]/div/div[2]/div[3]/div/div[1]/div[2]/div/div/div/input')
    city.click()
    city.send_keys(Keys.DELETE)
    city.send_keys(e)
    time.sleep(1)
    city.send_keys(Keys.DOWN, Keys.RETURN)
    driver.find_element(By.XPATH, '//*[@id="component_1"]/div/div[1]/div/div[2]/div[3]/div/div[4]/button/div').click()
    time.sleep(3)
    sort= driver.find_element(By.XPATH, '//*[@id="MAIN"]/div/div[1]/div/div/div/div[1]/div/div[1]/div[1]/span/span/span[2]')
    sort.click()
    price = driver.find_element(By.XPATH,'//*[@id="BODY_BLOCK_JQUERY_REFLOW"]/div[14]/div/div/div/ul/li[1]/div/div/span[2]')
    time.sleep(1)
    price.click()
    time.sleep(2)
    driver.execute_script('window.scrollTo(0, 200);')
    uno= driver.find_elements(By.CLASS_NAME,'JcwmL')[0]
    dos = uno.find_element(By.CLASS_NAME, 'OBuNK')
    precio.append(dos.text)
driver.quit()

100%|██████████████████████████████████████████████████████████████████████████████████| 32/32 [04:42<00:00,  8.84s/it]

In [7]:
precio

['€196',
 '€155',
 '€1,911',
 '€233',
 '€109',
 '€230',
 '€375',
 '€162',
 '€412',
 '€58',
 '€189',
 '€226',
 '€435',
 '€551',
 '€134',
 '€53',
 '€274',
 '€146',
 '€181',
 '€92',
 '€326',
 '€322',
 '€172',
 '€368',
 '€158',
 '€536',
 '€348',
 '€130',
 '€199',
 '€315',
 '€108',
 '€189',
 '€378']

In [8]:
vuelos = []
num= []
for e in precio:
    if e == '€1,911':
        vuelos.append(1943)
    else:
        num.append((re.findall('[0-9]+', e)))
        for i in num:
            for u in i:
                vuelos.append(int(u))
                num = []

In [9]:
len(vuelos)

33

In [12]:
data= pd.DataFrame(columns= ['precio/vuelo'], data= vuelos)

In [14]:
data['ciudades_id']= [e for e in range(1, 34)]

In [15]:
data

    precio/vuelo  ciudades_id
0            196            1
1            155            2
2           1943            3
3            233            4
4            109            5
5            230            6
6            375            7
7            162            8
8            412            9
9             58           10
10           189           11
11           226           12
12           435           13
13           551           14
14           134           15
15            53           16
16           274           17
17           146           18
18           181           19
19            92           20
20           326           21
21           322           22
22           172           23
23           368           24
24           158           25
25           536           26
26           348           27
27           130           28
28           199           29
29           315           30
30           108           31
31           189           32
32           378           33

In [16]:
data.to_excel('vuelos.xlsx', index = False)