In [1]:
import pandas as pd
from selenium import webdriver

import time
from tqdm import tqdm
import regex as re
import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By   # para buscar segun tag, id, class, etc...

from selenium.webdriver.support.ui import WebDriverWait   # es para esperar

from selenium.webdriver.support import expected_conditions as EC  # condiciones esperadas...

from selenium.webdriver import ActionChains as AC   # acciones encadenadas, rollo doble click

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

PATH=ChromeDriverManager().install()

In [44]:
data = pd.read_clipboard(header= None, names = ['indice', 'ciudad', 'pais', 'poblacion', 'fecha', 'ref'])

In [46]:
data1 = pd.read_clipboard(header= None, names = ['indice', 'ciudad', 'pais', 'poblacion', 'fecha', 'ref'])

In [48]:
data2 = pd.read_clipboard(header= None, names = ['indice', 'ciudad', 'pais', 'poblacion', 'fecha', 'ref'])

In [134]:
data3= pd.read_clipboard(header= None, names = ['ciudad'])

ParserError: Expected 3 fields in line 3, saw 4. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [121]:
data3 = pd.concat([data, data1, data2]).reset_index(drop=True)

In [71]:
data3.ciudad.unique()

array(['Berlín', 'Madrid', 'Roma', 'París', 'Bucarest', 'Viena',
       'Hamburgo8\u200b', 'Varsovia', 'Budapest', 'Barcelona', 'Múnich',
       'Milán', 'Praga', 'Sofía', 'Bruselas17\u200b', 'Colonia',
       'Estocolmo', 'Nápoles', 'Turín', 'Ámsterdam', 'Marsella',
       'Valencia', 'Zagreb', 'Cracovia', 'Fráncfort del Meno', 'Sevilla',
       'Łódź', 'Zaragoza', 'Palermo', 'Atenas', 'Helsinki', 'Róterdam',
       'Breslavia', 'Stuttgart', 'Riga', 'Düsseldorf', 'Leipzig', 'Essen',
       'Génova', 'Málaga', 'Dortmund', 'Copenhague', 'Dresde', 'Dublín',
       'Lisboa', 'Bremen', 'La Haya', 'Vilna', 'Posnania', 'Gotemburgo',
       'Núremberg', 'Hanóver', 'Amberes', 'Duisburgo', 'Lyon', 'Gdansk',
       'Murcia', 'Toulouse', 'Tallin', 'Bratislava', 'Palma de Mallorca',
       'Szczecin', 'Bolonia', 'Las Palmas de Gran Canaria', 'Florencia',
       'Brun', 'Bochum', 'Utrecht', 'Bydgoszcz', 'Plovdiv', 'Bilbao',
       'Niza', 'Wuppertal', 'Lublin', 'Varna', 'Alicante', 'Bielefeld',
       'Córdoba', 'Cluj-Napoca', 'Salónica', 'Timişoara', 'Bari', 'Bonn',
       'Malmö'], dtype=object)

In [123]:
ciudades = ['Madrid', 'Hamburgo8\u200b', 'Barcelona', 'Múnich',
                              'Milán', 'Colonia', 'Nápoles', 'Turín', 'Marsella', 'Valencia',
                              'Fráncfort del Meno', 'Sevilla', 'Łódź', 'Zaragoza', 'Palermo',
                              'Róterdam', 'Breslavia', 'Stuttgart', 'Düsseldorf', 'Leipzig', 'Essen',
                              'Génova', 'Málaga', 'Dortmund', 'Dresde', 'Lisboa', 'Bremen', 'La Haya',
                              'Posnania', 'Gotemburgo', 'Núremberg', 'Hanóver', 'Amberes', 'Duisburgo', 
                               'Lyon', 'Gdansk', 'Murcia', 'Toulouse', 'Palma de Mallorca', 'Szczecin', 
                               'Bolonia', 'Las Palmas de Gran Canaria', 'Florencia', 'Brun', 'Bochum', 
                               'Utrecht', 'Bydgoszcz', 'Plovdiv', 'Bilbao', 'Niza', 'Wuppertal', 'Lublin', 
                               'Varna', 'Alicante', 'Bielefeld', 'Córdoba', 'Cluj-Napoca', 'Salónica', 
                               'Timişoara', 'Bari', 'Bonn', 'Malmö', 'Cracovia']

In [124]:
data3

,indice,ciudad,pais,poblacion,fecha,ref
0,1,Berlín,Flag of Germany.svg Alemania,3 769 495,31 de diciembre de 2019,2​
1,2,Madrid,Bandera de España España,3 334 730,1 de enero de 2020,3​
2,3,Roma,Flag of Italy.svg Italia,2 856 133,1 de enero de 2019,4​
3,4,París,Bandera de Francia Francia,2 148 271,1 de enero de 2020,5​
4,5,Bucarest,Bandera de Rumania Rumania,2 139 439,1 de julio de 2019,6​
...,...,...,...,...,...,...
79,80,Salónica,Flag of Greece.svg Grecia,322 240,24 de mayo de 2011,29​
80,81,Timişoara,Bandera de Rumania Rumania,329 003,1 de julio de 2018,55​
81,82,Bari,Flag of Italy.svg Italia,320 862,1 de enero de 2019,4​
82,83,Bonn,Flag of Germany.svg Alemania,309 869,31 de diciembre de 2012,19​
83,84,Malmö,Flag of Sweden.svg Suecia,309 105,31 de marzo de 2013,20​

In [125]:
lista= []
for i,e in enumerate(data3.ciudad):
    if e in ciudades:
        lista.append(i)

In [126]:
data3.drop(lista, axis = 0, inplace = True)

In [132]:
data3.reset_index(drop=True)

,indice,ciudad,pais,poblacion,fecha,ref
0,1,Alemania-Berlin,Flag of Germany.svg Alemania,3 769 495,31 de diciembre de 2019,2​
1,3,Italia-Roma,Flag of Italy.svg Italia,2 856 133,1 de enero de 2019,4​
2,4,Francia-Paris,Bandera de Francia Francia,2 148 271,1 de enero de 2020,5​
3,5,Rumania-Bucarest,Bandera de Rumania Rumania,2 139 439,1 de julio de 2019,6​
4,6,Austria-Viena,Flag of Austria.svg Austria,1 897 491,1 de enero de 2019,7​
5,8,Polonia-Varsovia,Flag of Poland.svg Polonia,1 777 972,1 de enero de 2019,10​
6,9,Hungría-Budapest,Flag of Hungary.svg Hungría,1 752 286,1 de enero de 2019,11​
7,13,República Checa-Praga,Flag of the Czech Republic.svg República Checa,1 308 632,1 de enero de 2019,14​
8,14,Bulgaria-Sofia,Bandera de Bulgaria Bulgaria,1 269 384,1 de enero de 2019,15​16​
9,15,Belgica-Bruselas,Flag of Belgium (civil).svg Bélgica,1 138 854,1 de enero de 2012,18​
10,17,Suecia-Estocolmo,Flag of Sweden.svg Suecia,972 647,30 de septiembre de 2019,20​
11,20,Paises Bajos-Amsterdam,Flag of the Netherlands.svg Países Bajos,873 471,1 de diciembre de 2019,21​
12,23,Croacia-Zagreb,Flag of Croatia.svg Croacia,790 017,31 de marzo de 2011,24​
13,30,Grecia-Atenas,Flag of Greece.svg Grecia,655 780,24 de mayo de 2011,29​
14,31,Finlandia-Helsinki,Flag of Finland.svg Finlandia,654 707,1 de diciembre de 2019,30​
15,35,Letonia-Riga,Bandera de Letonia Letonia,632 614,1 de enero de 2019,32​
16,42,Dinamarca-Copenhague,Bandera de Dinamarca Dinamarca,559 440,1 de enero de 2013,36​
17,44,Irlanda-Dublin,Bandera de Irlanda Irlanda,554 554,24 de abril de 2016,37​
18,48,Lituania-Vilna,Flag of Lithuania.svg Lituania,537 152,1 de enero de 2013,41​
19,59,Estonia-Tallín,Bandera de Estonia Estonia,426 745,1 de julio de 2013,47​
20,60,Eslovaquia-Bratislava,Flag of Slovakia.svg Eslovaquia,417 389,31 de diciembre de 2013,48​

In [116]:
data4 = pd.read_excel('vuelos.xlsx')

In [118]:
data4.ciudad.unique()

array(['Albania-Tirana', 'Austria-Viena', 'Bielorrusia-Minsk',
       'Bulgaria-Sofia', 'Dinamarca-Copenhague', 'Eslovenia-Liubliana',
       'Estonia-Tallín', 'Francia-Paris', 'Grecia-Atenas',
       'Irlanda-Dublin', 'Italia-Roma', 'Lituania-Vilna',
       'Macedonia-Skopie', 'Moldavia-Chisinau', 'Paises Bajos-Amsterdam',
       'Portugal-Lisboa', 'República Checa-Praga', 'Suecia-Estocolmo',
       'Alemania-Berlin', 'Belgica-Bruselas',
       'Bosnia Hercegovina-Sarajevo', 'Croacia-Zagreb',
       'Eslovaquia-Bratislava', 'Finlandia-Helsinki', 'Hungría-Budapest',
       'Islandia-Reikiavik', 'Letonia-Riga', 'Luxemburgo-Luxemburgo',
       'Malta-La Valeta', 'Noruega-Oslo', 'Polonia-Varsovia',
       'Rumania-Bucarest', 'Yugoslavia-Belgrado'], dtype=object)

In [130]:
data3.ciudad.replace({'Berlín': 'Alemania-Berlin', 'Roma': 'Italia-Roma', 'París': 'Francia-Paris', 
                      'Bucarest': 'Rumania-Bucarest', 'Viena': 'Austria-Viena', 'Varsovia': 'Polonia-Varsovia',
                     'Budapest': 'Hungría-Budapest', 'Praga': 'República Checa-Praga', 'Sofía': 'Bulgaria-Sofia',
                     'Bruselas17\u200b': 'Belgica-Bruselas', 'Estocolmo': 'Suecia-Estocolmo', 
                     'Ámsterdam': 'Paises Bajos-Amsterdam', 'Zagreb': 'Croacia-Zagreb', 'Atenas': 'Grecia-Atenas',
                     'Helsinki': 'Finlandia-Helsinki', 'Riga': 'Letonia-Riga', 'Copenhague': 'Dinamarca-Copenhague',
                     'Dublín': 'Irlanda-Dublin', 'Vilna': 'Lituania-Vilna', 'Tallin': 'Estonia-Tallín',
                     'Bratislava': 'Eslovaquia-Bratislava'}, inplace= True)

In [131]:
data3.drop(['indice', 'pais', 'fecha', 'ref'], axis= 1, inplace = True)

,indice,ciudad,pais,poblacion,fecha,ref
0,1,Alemania-Berlin,Flag of Germany.svg Alemania,3 769 495,31 de diciembre de 2019,2​
2,3,Italia-Roma,Flag of Italy.svg Italia,2 856 133,1 de enero de 2019,4​
3,4,Francia-Paris,Bandera de Francia Francia,2 148 271,1 de enero de 2020,5​
4,5,Rumania-Bucarest,Bandera de Rumania Rumania,2 139 439,1 de julio de 2019,6​
5,6,Austria-Viena,Flag of Austria.svg Austria,1 897 491,1 de enero de 2019,7​
7,8,Polonia-Varsovia,Flag of Poland.svg Polonia,1 777 972,1 de enero de 2019,10​
8,9,Hungría-Budapest,Flag of Hungary.svg Hungría,1 752 286,1 de enero de 2019,11​
12,13,República Checa-Praga,Flag of the Czech Republic.svg República Checa,1 308 632,1 de enero de 2019,14​
13,14,Bulgaria-Sofia,Bandera de Bulgaria Bulgaria,1 269 384,1 de enero de 2019,15​16​
14,15,Belgica-Bruselas,Flag of Belgium (civil).svg Bélgica,1 138 854,1 de enero de 2012,18​
16,17,Suecia-Estocolmo,Flag of Sweden.svg Suecia,972 647,30 de septiembre de 2019,20​
19,20,Paises Bajos-Amsterdam,Flag of the Netherlands.svg Países Bajos,873 471,1 de diciembre de 2019,21​
22,23,Croacia-Zagreb,Flag of Croatia.svg Croacia,790 017,31 de marzo de 2011,24​
29,30,Grecia-Atenas,Flag of Greece.svg Grecia,655 780,24 de mayo de 2011,29​
30,31,Finlandia-Helsinki,Flag of Finland.svg Finlandia,654 707,1 de diciembre de 2019,30​
34,35,Letonia-Riga,Bandera de Letonia Letonia,632 614,1 de enero de 2019,32​
41,42,Dinamarca-Copenhague,Bandera de Dinamarca Dinamarca,559 440,1 de enero de 2013,36​
43,44,Irlanda-Dublin,Bandera de Irlanda Irlanda,554 554,24 de abril de 2016,37​
47,48,Lituania-Vilna,Flag of Lithuania.svg Lituania,537 152,1 de enero de 2013,41​
58,59,Estonia-Tallín,Bandera de Estonia Estonia,426 745,1 de julio de 2013,47​
59,60,Eslovaquia-Bratislava,Flag of Slovakia.svg Eslovaquia,417 389,31 de diciembre de 2013,48​